.nav-button {
    -fx-background-color: #34495e;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10;
    -fx-cursor: hand;
}

.nav-button:hover {
    -fx-background-color: #3f5870;
}

.main-headline {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}
